body {
    font-size: 16px;

    max-width: 430px;
    margin-inline: auto;
    background-color: var(--contraste);

    position: relative;
    display: flex;
    flex-direction: column;

    height: 100dvh;

    scroll-behavior: smooth;
}

body > * {
    background-color: var(--clair);
    padding-inline: var(--espace-m);
}

body > header {
    padding-top: var(--espace-s);
}

body > main {
    flex-grow: 1;
    position: relative;
}

body > footer {
    position: sticky;
    bottom: 0;
    order: 1;

    padding-inline: 0;

    div:has(a) {
        padding-inline: var(--espace-m);
        padding-block: var(--espace-xs);

        a {
            margin-left: auto;
        }
    }
}

section > header {
    text-align: center;
    margin-bottom: var(--espace-m);
    margin-top: var(--espace-m);

    position: relative;
}
