.btn-add {
    display: block;
    max-width: 100%;
	max-height: fit-content;

    padding: var(--espace-nano) var(--espace-s);
    border-radius: var(--rayon-s);
    background-color: var(--contraste);

    font-family: var(--police-regular);
    color: var(--clair);
    text-align: center;
    box-sizing: border-box;

    transition-property: transform;
    transition-duration: var(--duree-x-rapide);
    transition-timing-function: ease-in-out;
}

.btn-add.no-bg {
    border: 1px solid var(--contraste);
    background-color: var(--clair);
    color: var(--fonce);    
}

.btn-add.no-bg:active {
    background-color: var(--contraste-faible);
}

.btn-add:active {
    transform: scale(0.98);
}
