.btn {
	display: block;

    width: max-content;
    padding: var(--espace-nano) var(--espace-s);
    background-color: var(--contraste-fonce);
    color: var(--clair);
    font-size: var(--police-std);
	font-family: var(--police-regular);
    text-align: center;
    border-radius: var(--rayon-s);
    cursor: pointer;
    transition: background-color var(--duree-std);
}

.btn:hover {
    background-color: var(--contraste);
    color: var(--clair);
}
