.card_bottle {
    display: flex;
    gap: var(--espace-micro);
    align-items: center;
    height: max-content;

    h3 {
        font-family: var(--police-accent);
        font-size: var(--police-s);
        text-align: left;
    }

    svg {
        width: 18px;
        color: var(--tres-fonce);

		transition-property: transform;
		transition-duration: var(--duree-x-rapide);
		transition-timing-function: ease-in-out;
    }

	    svg:active{
			transform: scale(0.95);
    }
}

.card_bottle__metainfo {
    font-size: var(--police-s);
    color: var(--fonce);
}

.card_bottle > picture {
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    width: 90px;

    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.card_bottle > section {
    flex-grow: 1;
    flex-shrink: 1;
}

.card_bottle > section > header {
    text-align: initial;
    margin-bottom: var(--espace-micro);
}

.card_bottle header > * + * {
    margin-top: var(--espace-nano);
}

.card_bottle section > div {
    display: flex;
    gap: var(--espace-micro);
    align-items: center;
    justify-content: space-between;

	p{
		font-size: var(--police-s)
	};
}

.card_bottle__actions {
    font-family: var(--police-regular);

    display: flex;
    gap: var(--espace-micro);
    align-items: center;
    justify-content: center;

	margin-left: auto;

    button {
        padding: var(--espace-nano);
        transition-property: transform;
        transition-duration: var(--duree-x-rapide);
        transition-timing-function: ease-in-out;
    }

    button:active {
        transform: scale(0.95);
    }
}

.card_bottle + .card_bottle {
    margin-top: var(--espace-m);
    margin-bottom: var(--espace-nano);
}