.card_bottle {
    display: flex;
    gap: var(--espace-micro);
    align-items: center;
    height: max-content;

    h3 {
        font-family: var(--police-accent);
        font-size: var(--police-s);
        text-align: left;
    }

    svg {
        width: 12px;
        color: var(--tres-fonce);

        transition-property: transform;
        transition-duration: var(--duree-x-rapide);
        transition-timing-function: ease-in-out;
    }

    svg:active {
        transform: scale(0.95);
    }
}

.card_bottle__metainfo {
    font-size: var(--police-s);
    color: var(--fonce);
}

.card_bottle > picture {
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    width: 90px;

    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.card_bottle > section {
    flex-grow: 1;
    flex-shrink: 1;
}

.card_bottle > section > header {
    text-align: initial;
    margin-bottom: var(--espace-micro);
}

.card_bottle header > * + * {
    margin-top: var(--espace-nano);
}

.card_bottle section > div {
    display: flex;
    gap: var(--espace-micro);
    align-items: center;
    justify-content: space-between;

    p {
        font-size: var(--police-s);
    }
}

.card_bottle__actions {
    font-family: var(--police-regular);

    display: flex;
    gap: var(--espace-micro);
    align-items: center;
    justify-content: center;

    margin-left: auto;

    button {
        /* padding: var(--espace-nano);
        transition-property: transform;
        transition-duration: var(--duree-x-rapide);
        transition-timing-function: ease-in-out; */
        padding: var(--espace-nano);
        font-size: var(--police-m);
        border: none;
        border-radius: 35% 20% 35% 20%; 
        width: var(--autre-xxl);
        height: var(--autre-xxl);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.2s ease-in-out, background-color 0.2s;
    }

    button:active {
        transform: scale(0.95);
        box-shadow: 0 var(--rayon-m) var(--rayon-l) var(--tres-fonce); 
    }
}

.card_bottle__actions button[data-js-action="reduire"],.card_bottle__actions button[data-js-action="augmenter"] {
    background-color: var(--contraste-faible); 
    color: var(--clair);
}

.card_bottle__actions span[data-js-quantite="quantite"] {
    font-size: var(--police-l);
    font-weight: bold;
    margin: 0 var(--autre-xl); 
}

.card_bottle + .card_bottle {
    margin-top: var(--espace-m);
    margin-bottom: var(--espace-m);
}

.card_bottle__header {
    display: flex;
    gap: var(--espace-xs);
    align-items: center;
    justify-content: space-between;
}

.card_bottle__header{
	display: flex;
	gap: var(--espace-xs);
	align-items: center;
	justify-content: space-between;
}
