.cellier {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--espace-xl);
    justify-content: space-between;

    > :is(a, a:visited) {

		font-family: var(--police-regular);
        color: var(--tres-fonce);
        font-size: var(--police-m);
        transition-duration: var(--duree-x-rapide);
        transition-property: transform;
        transition-timing-function: ease-in-out;
    }

    a:active {
        transform: scale(0.95);
    }

    svg {
        height: 16px;
        fill: var(--fonce);
    }
}

* + .cellier {
    margin-top: var(--espace-s);
}

.cellier-select {
    border-radius: 0;
    box-sizing: border-box;
    font-size: var(--police-std);
    padding: var(--espace-nano);
    width: 100%;
}

.cellier-products {
    margin-top: var(--espace-m);
}

.inventory-action {
    align-items: center;
    display: flex;
    gap: var(--espace-nano);
}
