.display-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--espace-micro);

    margin-bottom: var(--espace-s);

    align-items: start; /* Prevents uneven stretching */
}

.display-options > div {
    font-family: var(--police-regular);
    border: var(--bordure-s) solid var(--tres-fonce);
    border-radius: var(--rayon-s);
    padding: var(--espace-nano) var(--espace-s);
    font-size: var(--police-std);
}
