.filters {
    font-family: var(--police-regular);

	position: relative;
}

.filters > form > details + div {
    display: flex;
    flex-direction: column;
    gap: var(--espace-pico);
    align-items: stretch;
    justify-items: center;
}

.filters__pair {
    width: 100%;

	label{
		display: inline-block;
		width: 12ch;
	};
}

.filters__criterion > summary {
    font-weight: 600;
}

.filters__criterion[open] + .filters__content {
    max-height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.filters__content {
    height: auto;
    max-height: 0;
	overflow: hidden;
    transition: all 0.5s ease;

    > div:not(.filters__pair) {
        max-height: 35vw;
        overflow-y: scroll;
    }
}

.filters * + button {
    margin-top: var(--espace-nano);
}

/* ---- open filters ---- */
.filters form {
	box-sizing: border-box;
    font-family: var(--police-regular);

	display: flex;
	flex-direction: column;
	gap: var(--espace-xs);

	margin-block: var(--espace-xs);
}

.filters summary:has(.filters__chevron) {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters__chevron {
    display: inline-block;
    height: var(--police-std);
    transform: rotate(-90deg);
    transform-origin: center;
    transition: all 200ms ease-in-out;
}

.filters details[open] .filters__chevron {
    transform: rotate(90deg);
}

