.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espace-s);
    background-color: var(--clair);
}
.form-group select,
.form-group input {
    width: 100%;
    padding: var(--espace-nano);
    font-size: var(--police-std);
    box-sizing: border-box;
}

.form-group label {
    margin-bottom: var(--espace-micro);
    font-weight: bold;
}
