.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espace-s);
    background-color: var(--clair);
    width: 100%;
    
}
.form-group select,
.form-group input {
    width: 100%;
    padding: var(--espace-nano);
    font-size: var(--police-std);
    box-sizing: border-box;
   
    
}

.form-group select{
    appearance: none;
    border-radius: 0;
}

.form-group label {
    margin-bottom: var(--espace-micro);
    font-weight: bold;
}

/* uniformiser des forms en IOS */ 
input[type="hidden"] {
    outline: none;
    border: none;
    color: inherit; 
    text-decoration: none; 
}