.login-page {
    margin: var(--espace-m);
}

.login-page > div:not(.alerte){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--espace-l);

    background-color: var(--clair);
    font-family: var(--police-regular);
}

.login-page form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: var(--espace-micro);

	a {
		color: var(--fonce);
		font-size: var(--police-s);
	}
}

.login-page picture {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;

    margin-bottom: var(--espace-m);

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
