.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--clair);
    padding: var(--espace-s);
    font-family: var(--police-regular);
}

.login-page .logo img {
    max-width: 120px;
    margin-bottom: var(--espace-s);
}
.forgot-password, .register {
    margin-top: var(--espace-nano); 
    text-align: center;
    padding: var(--espace-nano);
}