@keyframes toastIn {
    0% {
        transform: scale(0);
        opacity: 0;
        display: none;
    }

    30% {
        transform: scale(1);
        opacity: 1;
        display: flex;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        display: flex;
    }
}

@keyframes toastOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    20% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
        display: none;
    }
}

.modale-action {
    position: fixed;
    z-index: 1000;

    inset: 0;

    max-width: 430px;
    margin-inline: auto;
    padding-inline: var(--espace-m);
    margin-top: calc(1.7 * var(--espace-l));

    box-sizing: border-box;
}

.modale-action__conteneur {
    height: fit-content;

    padding-inline: var(--espace-s);
    padding-block: var(--espace-m);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: color-mix(in oklab, var(--fonce) 20%, white 80%);
    border-radius: var(--rayon-l);

    font-family: var(--font-regular);

    animation: toastIn 800ms forwards;
    transition-behavior: allow-discrete;
	
} 

.modale-action.remove {
    animation: toastOut 400ms forwards;
    transition-behavior: allow-discrete;
}

.modale-action__boutons {
    display: flex;
    gap: var(--espace-m);

    margin-top: var(--espace-m);
}
