.noContent {
	margin-top: 10vw;
}

.noContent > h3 {
    font-family: var(--police-accent);
    margin: 0;
}

.noContent > p {
    margin-top: var(--espace-xs);
}

.noContent > * {
    margin-top: var(--espace-m);
}
