/* Profile Card Styles */
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--police-regular);
}

.profile-page {
    padding: var(--espace-m);
    font-family: var(--police-regular);
    color: var(--fonce);
}

.profile-header {
    text-align: center;
    margin-bottom: var(--espace-m);
}



.profile h2{
    margin-top: var(--espace-m);
}

.profile-header__container {
    display: flex;
    justify-content: space-between;
}

.profile-actions button {
    margin-top: var(--espace-micro);
}
/* Stats Section */
.profile-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--espace-m);
    margin-top: var(--espace-m);
}

.stat-item {
    text-align: center;
}

.stat-number {
    font-size: var(--police-mega);
    font-weight: bold;
}

.stat-label {
    font-size: var(--police-std);
    color: var(--contraste);
}
