.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--clair);
    padding: var(--espace-m);
    font-family: var(--police-regular);
}

.register-header {
    text-align: center;
    font-family: var(--police-accent);
    font-size: var(--police-xl);
    color: var(--tres-fonce);
    margin-bottom: var(--espace-s);
}
.register-prompt {
    text-align: center;
    margin-top: var(--espace-s); /* Adjust spacing using your variable */
    padding: var(--espace-nano) 0; /* Vertical padding */
    font-family: var(--police-regular); /* Consistent font style */
}

.register-prompt p {
    font-size: var(--police-std);
    color: var(--fonce); 
    margin-bottom: var(--espace-nano); 
}

.register-prompt .btn {
    display: inline-block;
    padding: var(--espace-nano) var(--espace-xs); 
    background-color: var(--contraste-fonce);
    color: var(--clair); 
    text-decoration: none; 
    border-radius: var(--rayon-s);
    transition: background-color var(--duree-std); 
}
.register-prompt .btn:hover {
    background-color: var(--contraste); 
    color: var(--clair); 
   
}