.register-header {
    text-align: center;
    font-family: var(--police-accent);
    font-size: var(--police-xl);
    color: var(--tres-fonce);
    margin-bottom: var(--espace-l);
}

.register-prompt {
    display: flex;
    flex-direction: column;
    gap: var(--espace-xs);
    align-items: center;
    justify-content: center;
    font-family: var(--police-regular);

 }

 