.result {
    margin-bottom: var(--espace-xs); 
}
.results-list {
    display: flex;
    flex-direction: column;
    gap: var(--espace-s);
    padding: var(--espace-m);
}

.result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--espace-s);
    background-color: var(--clair);
   
}

.result-image {
    width: var(--espace-l);
    height: var(--espace-l);
    object-fit: cover;
    border-radius: var(--rayon-s);
    margin-right: var(--espace-m);
}

.result-details {
    flex-grow: 1;
    padding-right: var(--espace-m);
}

.result-name {
    font-family: var(--police-accent);
    font-size: var(--police-m);
    margin-bottom: var(--espace-nano);
}

.result-info {
    font-family: var(--police-regular);
    font-size: var(--police-s);
    color: var(--fonce);
}

.result-button {
    display: flex;
    gap: var(--espace-s);
}

.result > p {
    margin-bottom: var(--espace-xs); 
}

.result header h2 {
    margin-bottom: var(--espace-s);
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.result p {
    margin-top: var(--espace-xs); 
    word-wrap: break-word;
    overflow-wrap: break-word;
   
}
.select-cellar {
    width: 100%;
    padding: var(--espace-nano);
    font-size: var(--police-std);
    border: var(--bordure-s) solid var(--fonce);
    border-radius: var(--rayon-s);
    box-sizing: border-box;
}