.search-results-page {
    padding: var(--espace-m) var(--espace-s);
 
}

.search-header {
    margin-bottom: var(--espace-s);
    font-size: var(--police-m);
    font-family: var(--police-accent);
}


