.search-header {
    margin-bottom: var(--espace-s);
    font-family: var(--police-accent);
}

.search-container {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	gap: var(--espace-micro);
}

.search-container input {
	flex: 1;
	padding: var(--espace-nano);
	border: var(--bordure-s) solid var(--contraste-faible);
	border-radius: var(--rayon-m);
	box-sizing: border-box;
}

.search label {
	font-weight: initial;	
}

.search_suggestions {
    position: absolute; 
    top: 100%; 
    left: 0;
    width: 100%; 
    background-color: var(--blanc);
    border: 1px solid var(--clair);
    box-shadow: 0 var(--bordure-l) var(--bordure-xl) var(--contraste-fort);
    z-index: 1000; 
    display: none; 
}

.search_suggestions .search_suggestion-item {
    padding: var(--autre-xl);
    cursor: pointer;
}

.search_suggestions .search_suggestion-item:hover {
    background-color: var(--clair);
}
