.sorting {
    position: relative;
    transition: all 200ms ease-in-out;
}

.sorting details[open] + .sorting__frame {
    max-height: 100vh;
    overflow: hidden;
}

/* .sorting:has(details[open]) {
    background-color: color-mix(in oklab, var(--contraste) 20%, white 80%);
} */

.sorting__frame {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: all 200ms ease;

    position: absolute; /* Detaches from normal flow */
    top: 100%;
    z-index: 2; /* Ensures it appears above other elements */
    /* background-color: color-mix(in oklab, var(--contraste) 20%, white 80%); */
    background-color: var(--clair);
    width: 100%;
    margin-left: calc(-1 * var(--espace-s));
    padding-inline: var(--espace-s);
    box-sizing: border-box;

    border-bottom: var(--bordure-s) solid var(--tres-fonce);
    border-right: var(--bordure-s) solid var(--tres-fonce);
    border-left: var(--bordure-s) solid var(--tres-fonce);
    border-radius: var(--rayon-s);
}

.sorting__frame > * + * {
    margin-block: var(--espace-micro);
}

.sorting summary:has(.sorting__chevron) {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sorting__chevron {
    display: inline-block;
    height: var(--police-std);
    transform: rotate(-90deg);
    transform-origin: center;
    transition: all 200ms ease-in-out;
}

.sorting details[open] .sorting__chevron {
    transform: rotate(90deg);
}
