.sorting summary:has(.sorting__chevron) {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sorting__chevron {
    display: inline-block;
    height: var(--police-std);
    transform: rotate(-90deg);
    transform-origin: center;
    transition: all 200ms ease-in-out;
}

.sorting details[open] .sorting__chevron {
    transform: rotate(90deg);
}

.sorting__frame {
    padding-block: var(--espace-xs);

    div + div {
        margin-top: var(--espace-nano);
    }
}
